# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log
.env

# IDEs
*.idea/

# Logs
*.log

